.inputContainer {
  display: grid;
  width: 100%;
}

.labelInput {
  display: grid;
  box-sizing: border-box;
  align-items: center;
  padding: 0 7px 0 7px;
  font-size: 15px;
  color: #828282;
  width: 100%;
}

.inputText {
  box-sizing: border-box;
  height: 35px;
  font-size: 15px;
  color: #000000;
  width: 100%;
  padding: 0 7px 0 7px;
}
