/* .login-section{
  display: grid;
  height: 100%;
}
  
.login-form{
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
}
  
.login-msg{
  text-align: center;
  color: #EB5757;
} */